{% extends 'newbase.html.twig' %}

{% block title %} المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش {% endblock %}

{% block body %}
        <!-- Start Hero -->
        <section class="relative table w-full py-24 lg:py-24 bg-no-repeat bg-center bg-cover">
            <div class="absolute inset-0 bg-black"></div>
            <div class="container">
                <div class="grid grid-cols-1 text-center">
                    <h3 class="md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش</h3>
                    <p class="text-slate-400 max-w-xl mx-auto">من أجل عرض بقعة على المنصة المرجو الإيصال بنا على الوتساب على الرقم</p>
                    <div class="mt-6">
                        <a href="javascript:void(0)" class="btn bg-green-600 hover:bg-green-700 text-white rounded-md"><i class="uil uil-phone align-middle ltr:mr-2 rtl:ml-2"></i> 0033771823612 </a>
                    </div>
                </div><!--end grid-->
            </div><!--end container-->
        </section><!--end section-->
        <div class="relative">
            <div class="shape overflow-hidden z-1 text-white dark:text-slate-900">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <div class="container relative -mt-16 z-1">
            {% include('spot/search.html.twig') %}
        </div><!--end container-->
        <!-- End Hero -->
        
        <!-- Start -->
        <section class="relative lg:py-15 py-10">
            <div class="container">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px]">
                    {% for spot in spots %}
                        {% set gallery = spot.galleries|first %}
                        <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                            <div class="relative">
                                <img src="{{ asset('/artisans/galleries/' ~ gallery.url) }}" alt="">
                            </div>

                            <div class="p-6">
                                <div class="flex justify-between mb-4">
                                    <span class="text-slate-400 text-sm ms-3"><i class="uil uil-map text-slate-900 dark:text-white me-2"></i> {{ spot.lotissement }}</span>
                                </div>

                                <div class="pb-6 border-b border-slate-100 dark:border-gray">
                                    <a href="{{ path('app_spot_show', {'id' : spot.id })}}" class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">
                                       #{{ spot.id }}# {{ spot.title }}
                                    </a>
                                </div>

                                <ul class="pt-6 flex justify-between items-center list-none">
                                    <li>
                                        <span class="text-slate-400">نوع البقعة</span>
                                        <p class="text-lg font-medium">{{ spot.spotType }} ({{ spot.stage }})</p>
                                    </li>

                                    <li>
                                        <span class="text-slate-400">عدد الواجهات</span>
                                        <p>{{ spot.facade }}</p>
                                    </li>
                                </ul>

                                <ul class="pt-6 flex justify-between items-center list-none">
                                    <li>
                                        <span class="text-slate-400">مساحة البقعة</span>
                                        <p>{{ spot.surface }} متر مربع</p>
                                    </li>

                                    <li>
                                        <span class="text-slate-400">سعر البقعة</span>
                                        <p class="text-lg font-medium">{{ spot.price }} درهم</p>
                                    </li>
                                </ul>

                                <ul class="pt-6 flex justify-between items-center list-none">
                                    <li>
                                        <span class="text-slate-400">المدينة</span>
                                        <p class="text-lg font-medium">{{ spot.neighborhood.city }}</p>
                                    </li>

                                    <li>
                                        <span class="text-slate-400">الحيّ</span>
                                        <p>{{ spot.neighborhood }}</p>
                                    </li>
                                </ul>

                                <div class="lg:mt-6">
                                    <a href="{{ path('app_spot_show', {'id' : spot.id })}}" id="search-buy" name="search" class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-12 rounded" value="المزيد من المعلومات">المزيد من المعلومات</a>
                                </div>
                            </div>
                        </div><!--end property content-->
                    {% endfor %}
                    
                </div><!--en grid-->

            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->
{% endblock %}
