<div class="grid grid-cols-1">
    <form action="{{ path('app_spot')}}" method="GET" class="p-6 bg-white dark:bg-slate-900 rounded-xl shadow-md dark:shadow-gray-700">
        <div class="registration-form text-dark text-start">
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">    

                <div>
                    <label class="form-label font-medium">نوع البقعة :</label>
                    <div class="filter-search-form relative filter-border mt-2">
                        <i class="uil uil-box icons"></i>
                        <select class="form-select z-2" name="spotType" id="choices-spotType">
                            <option value="0">إختر نوع البقعة</option>
                            {% for st in spotTypes %}
                                <option {{ spotFilter.spotType == st.id ? 'selected' : '' }} value="{{ st.id }}">{{ st }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div>
                    <label class="form-label font-medium">عدد الواجهات :</label>
                    <div class="filter-search-form relative filter-border mt-2">
                        <i class="uil uil-apps icons"></i>
                        <select class="form-select" name="facade" id="choices-facade">
                            <option value="0">إختر عدد الواجهات</option>
                            {% for f in facades %}
                                <option {{ spotFilter.facade == f.id ? 'selected' : '' }} value="{{ f.id }}">{{ f }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div>
                    <label class="form-label font-medium">عدد الطوابق  :</label>
                    <div class="filter-search-form relative filter-border mt-2">
                        <i class="uil uil-align-center-justify icons"></i>
                        <select class="form-select" name="stage" id="choices-stage">
                            <option value="0">إختر عدد الطوابق</option>
                            {% for s in stages %}
                                <option {{ spotFilter.stage == s.id ? 'selected' : '' }} value="{{ s.id }}">{{ s }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div>
                    <label class="form-label font-medium">الحيّ :</label>
                    <div class="filter-search-form relative mt-2">
                        <i class="uil uil-scenery icons"></i>
                        <select class="form-select" name="neighborhood" id="choices-neighborhood">
                            <option value="0">إختر الحيّ </option>
                            {% for nb in neighborhoods %}
                                <option {{ spotFilter.neighborhood == nb.id ? 'selected' : '' }} value="{{ nb.id }}">{{ nb }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> 

                <div class="lg:mt-6">
                    <input type="submit" class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-12 rounded" value="إبحث">
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </form><!--end form-->
</div><!--end grid-->