{% extends 'newbase.html.twig' %}

{% block title %} المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش {% endblock %}

{% block body %}
    <!-- Hero Start -->
        <section class="relative md:pb-20 pb-10 mt-20">
            {# <div class="container-fluid">
                <div class="md:flex mt-4">
                    {% set gallery1 = spot.galleries|first %}
                    <div class="lg:w-1/2 md:w-1/2 p-1">
                        <div class="group relative overflow-hidden">
                            <img src="{{ asset('/artisans/galleries/' ~ spot.galleries[0].url) }}" alt="">
                            <div class="absolute inset-0 group-hover:bg-slate-900/70 duration-500 ease-in-out"></div>
                            <div class="absolute top-1/2 -translate-y-1/2 right-0 left-0 text-center invisible group-hover:visible">
                                <a href="{{ asset('/artisans/galleries/' ~ spot.galleries[0].url) }}" class="btn btn-icon bg-green-600 hover:bg-green-700 text-white rounded-full lightbox"><i class="uil uil-camera"></i></a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="lg:w-1/2 md:w-1/2 p-1">
                       <div class="group relative overflow-hidden">
                            <img src="{{ asset('/artisans/galleries/' ~ spot.galleries[1].url) }}" alt="">
                            <div class="absolute inset-0 group-hover:bg-slate-900/70 duration-500 ease-in-out"></div>
                            <div class="absolute top-1/2 -translate-y-1/2 right-0 left-0 text-center invisible group-hover:visible">
                                <a href="{{ asset('/artisans/galleries/' ~ spot.galleries[0].url) }}" class="btn btn-icon bg-green-600 hover:bg-green-700 text-white rounded-full lightbox"><i class="uil uil-camera"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end flex-->
            </div><!--end container fluid--> #}

            <div class="container md:mt-15 mt-10">
                <div class="md:flex">
                    <div class="lg:w-2/3 md:w-1/2 md:p-4 px-3">

                        {% set gallery1 = spot.galleries|first %}
                        <div class="w-full leading-[0] border-0 mb-6">
                                <img src="{{ asset('/artisans/galleries/' ~ spot.galleries[0].url) }}" alt="">
                        </div>

                        <h4 class="text-2xl font-medium"> {{ spot.title }}</h4>

                        <ul class="py-6 flex items-center list-none">
                            <li class="flex items-center" style="margin-right:10px">
                                <i class="uil uil-map lg:text-3xl text-2xl ltr:mr-2 rtl:ml-2 text-green-600"></i>
                                <span class="lg:text-xl"> {{ spot.lotissement }} </span>
                            </li>
                        </ul>

                        {% for p in spot.paragraphs %}
                            <p class="text-slate-400 mt-4"> {{ p|raw }}</p>
                        {% endfor %}

                        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 mb-8 gap-[30px]">
                            
                            {% for f in spot.facilities %}
                                <!-- Content -->
                                <div class="group relative lg:px-10 transition-all duration-500 ease-in-out rounded-xl bg-transparent overflow-hidden text-center">
                                    <div class="relative overflow-hidden text-transparent -m-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon h-32 w-32 fill-green-600/5 mx-auto"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>
                                        <div class="absolute top-2/4 -translate-y-2/4 left-0 right-0 mx-auto text-green-600 rounded-xl transition-all duration-500 ease-in-out text-4xl flex align-middle justify-center items-center">
                                            <i class="{{ f.icon }}"></i>
                                        </div>
                                    </div>

                                    <div class="mt-6">
                                        <a href="" class="text-xl hover:text-green-600 font-medium">{{ f.title }}</a>
                                        <p class="text-slate-400 mt-3">{{ f.description }}</p>
                                    </div>
                                </div>
                                <!-- Content -->
                            {% endfor %}

                        </div>

                       
                        {% if spot.location %}
                            <div class="w-full leading-[0] border-0 mt-6">
                                <iframe src="{{ spot.location }}" style="border:0" class="w-full h-[500px]" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    </div>

                    <div class="lg:w-1/3 md:w-1/2 md:p-4 px-3 mt-8 md:mt-0">
                        <div class="sticky top-20">
                            <div class="rounded-md bg-slate-50 dark:bg-slate-800 shadow dark:shadow-gray-700">
                                <div class="p-6">
                                    <h5 class="text-2xl font-medium">سعر البقعة :</h5>
    
                                    <div class="flex justify-between items-center mt-4">
                                        <span class="text-xl font-medium">{{ spot.price }} درهم</span>

                                        <span class="bg-green-600/10 text-green-600 text-sm px-2.5 py-0.75 rounded h-6">للبيع</span>
                                    </div>
    
                                    <ul class="list-none mt-4">
                                        <li class="flex justify-between items-center">
                                            <span class="text-slate-400 text-sm"> إسم التجزئة </span>
                                            <span class="font-medium text-sm">{{ spot.lotissement }}</span>
                                        </li>

                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">نوع البقعة </span>
                                            <span class="font-medium text-sm">{{ spot.spotType }}</span>
                                        </li>

                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">عدد الطوابق</span>
                                            <span class="font-medium text-sm">{{ spot.stage }}</span>
                                        </li>
    
                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">عدد الواجهات</span>
                                            <span class="font-medium text-sm">{{ spot.facade }}</span>
                                        </li>
    
                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">مساحة البقعة</span>
                                            <span class="font-medium text-sm">{{ spot.surface }} متر مربع</span>
                                        </li>

                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">المدينة</span>
                                            <span class="font-medium text-sm">{{ spot.neighborhood.city }}</span>
                                        </li>

                                        <li class="flex justify-between items-center mt-2">
                                            <span class="text-slate-400 text-sm">الحيّ</span>
                                            <span class="font-medium text-sm">{{ spot.neighborhood }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mt-8 text-center">
                                <h3 class="mb-6 text-xl leading-normal font-medium text-black dark:text-white">هل لديك أسئلة ؟ إتصل بالرقم أدناه للمزيد من المعلومات عن البقعة</h3>

                                <div class="group text-center">
                                    <div class="relative inline-block mx-auto h-52 w-52 rounded-full overflow-hidden">
                                        <img src="{{ asset('/users/avatars/' ~ spot.user.avatar) }}" class="" alt="">
                                        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black h-52 w-52 rounded-full opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out"></div>
                                    </div>

                                    <div class="content mt-3">
                                        <a href="" class="text-xl font-medium hover:text-green-600 transition-all duration-500 ease-in-out"> {{ spot.user.pseudo }} </a>
                                        <p class="text-slate-400">{{ spot.user.phoneNumber }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container md:mt-10 mt-5">
                {{ render(controller('App\\Controller\\SpotController::similar')) }}
            </div>


        </section><!--end section-->
        <!-- End Hero -->
{% endblock %}
