<div class="grid grid-cols-1 pb-1 text-center">
    <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش</h3>
    <p class="text-slate-400 max-w-xl mx-auto">من أجل عرض بقعة على المنصة المرجو الإيصال بنا على الوتساب على الرقم</p>
    <div class="mt-6">
        <a href="javascript:void(0)" class="btn bg-green-600 hover:bg-green-700 text-white rounded-md"><i class="uil uil-phone align-middle ltr:mr-2 rtl:ml-2"></i> 0033771823612 </a>
    </div>
</div><!--end grid-->

<div class="grid lg:grid-cols-3 md:grid-cols-2 mt-10 grid-cols-1 gap-[30px]" style="display : none !important">
    {% for spot in spots %}
        {% set gallery = spot.galleries|first %}
        <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
            <div class="relative">
                <img src="{{ asset('/artisans/galleries/' ~ gallery.url) }}" alt="">
            </div>

            <hr>

            <div class="p-6">
                <div class="flex justify-between mb-4">
                    <span class="text-slate-400 text-sm ms-3"><i class="uil uil-map text-slate-900 dark:text-white me-2"></i> {{ spot.lotissement }}</span>
                </div>

                <div class="pb-6 border-b border-slate-100 dark:border-gray">
                    <a href="{{ path('app_spot_show', {'id' : spot.id })}}" class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">
                        {{ spot.title }}
                    </a>
                </div>

                <ul class="pt-6 flex justify-between items-center list-none">
                    <li>
                        <span class="text-slate-400">نوع البقعة</span>
                        <p class="text-lg font-medium">{{ spot.spotType }} ({{ spot.stage }})</p>
                    </li>

                    <li>
                        <span class="text-slate-400">عدد الواجهات</span>
                        <p>{{ spot.facade }}</p>
                    </li>
                </ul>

                <ul class="pt-6 flex justify-between items-center list-none">
                    <li>
                        <span class="text-slate-400">مساحة البقعة</span>
                        <p>{{ spot.surface }} متر مربع</p>
                    </li>

                    <li>
                        <span class="text-slate-400">سعر البقعة</span>
                        <p class="text-lg font-medium">{{ spot.price }} درهم</p>
                    </li>
                </ul>

                <ul class="pt-6 flex justify-between items-center list-none">
                    <li>
                        <span class="text-slate-400">المدينة</span>
                        <p class="text-lg font-medium">{{ spot.neighborhood.city }}</p>
                    </li>

                    <li>
                        <span class="text-slate-400">الحيّ</span>
                        <p>{{ spot.neighborhood }}</p>
                    </li>
                </ul>

                <div class="lg:mt-6">
                    <a href="{{ path('app_spot_show', {'id' : spot.id })}}" id="search-buy" name="search" class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-12 rounded" value="المزيد من المعلومات">المزيد من المعلومات</a>
                </div>
            </div>
        </div><!--end property content-->
    {% endfor %}
</div><!--en grid-->