<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش {% endblock %}</title>
        {% block stylesheets %}
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
            <link rel="stylesheet" href="{{ asset('files/css/plugins.css') }}">
            <link rel="stylesheet" href="{{ asset('files/css/styles.css') }}">
			<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="Loader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<nav id="navigation" class="navigation navigation-landscape">
								<div class="nav-header" style="text-align: center!important;float: unset;">
									<a class="nav-brand" href="{{ path('app_spot') }}" style="font-weight: 900;">
										المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش
									</a>
									<div class="nav-toggle"></div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			{% block body %}
            {% endblock %}
			<!-- ============================ Main Section End ================================== -->
			
			<!-- =========================== Footer Start ========================================= -->
			<footer class="dark-footer skin-dark-footer">
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2021 All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- =========================== Footer End ========================================= -->
			
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
        {% block javascripts %}
            <script src="{{ asset('files/js/jquery.min.js') }}"></script>
            <script src="{{ asset('files/js/popper.min.js') }}"></script>
            <script src="{{ asset('files/js/bootstrap.min.js') }}"></script>
			<script src="{{ asset('files/js/metisMenu.min.js') }}"></script>
            <script src="{{ asset('files/js/custom.js') }}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
        {% endblock %}
		                    <script type="text/javascript">
                        $(document).ready(function ($) {
                            // delegate calls to data-toggle="lightbox"
                            $(document).on('click', '[data-toggle="lightbox"]:not([data-gallery="navigateTo"]):not([data-gallery="example-gallery-11"])', function(event) {
                                event.preventDefault();
                                return $(this).ekkoLightbox({
                                    onShown: function() {
                                        if (window.console) {
                                            return console.log('Checking our the events huh?');
                                        }
                                    },
                                    onNavigate: function(direction, itemIndex) {
                                        if (window.console) {
                                            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                                        }
                                    }
                                });
                            });
            
                            // disable wrapping
                            $(document).on('click', '[data-toggle="lightbox"][data-gallery="example-gallery-11"]', function(event) {
                                event.preventDefault();
                                return $(this).ekkoLightbox({
                                    wrapping: false
                                });
                            });
            
                            //Programmatically call
                            $('#open-image').click(function (e) {
                                e.preventDefault();
                                $(this).ekkoLightbox();
                            });
                            $('#open-youtube').click(function (e) {
                                e.preventDefault();
                                $(this).ekkoLightbox();
                            });
            
                            // navigateTo
                            $(document).on('click', '[data-toggle="lightbox"][data-gallery="navigateTo"]', function(event) {
                                event.preventDefault();
            
                                return $(this).ekkoLightbox({
                                    onShown: function() {
            
                                        this.modal().on('click', '.modal-footer a', function(e) {
            
                                            e.preventDefault();
                                            this.navigateTo(2);
            
                                        }.bind(this));
            
                                    }
                                });
                            });
                        });
                    </script>
					<style type="text/css">
						form.search-big-form .form-group .form-control {
							border-radius: 0!important;
						}

						html body .b-r {
							border-left: 1px solid #e2e5ea!important;
						}
					</style>
    </body>
</html>
