<!-- Start Footer -->
<footer class="relative bg-slate-900 dark:bg-slate-800 mt-8">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="relative py-8">
                <!-- Subscribe -->
                <div class="relative w-full">
                    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">
                        <div class="lg:col-span-8 md:col-span-12">
                            <a href="#" class="text-[22px] focus:outline-none">
                                <img src="{{ asset('/assets/images/logo-light.png') }}" alt="">
                            </a>
                            <p class="mt-6 text-gray-300">المنصة الاولى لعرض البقع الأرضية للبيع في مدينة مراكش</p>
                    
                        </div><!--end col-->
            

                        <div class="lg:col-span-4 md:col-span-4">
                            <h5 class="tracking-[1px] text-gray-100 font-semibold">للتواصل معنا</h5>

                            <div class="flex mt-6">
                                <i data-feather="mail" class="w-5 h-5 text-green-600 ltr:mr-3 rtl:ml-3"></i>
                                <div class="">
                                    <a href="mailto:contact@example.com" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">boq3a@gmail.com</a>
                                </div>
                            </div>

                            <div class="flex mt-6">
                                <i data-feather="phone" class="w-5 h-5 text-green-600 ltr:mr-3 rtl:ml-3"></i>
                                <div class="">
                                    <a href="tel:+152534-468-854" class="text-slate-300 hover:text-slate-400 duration-500 ease-in-out">0033771823612</a>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end grid-->
                </div>
                <!-- Subscribe -->
            </div>
        </div>
    </div><!--end container-->

    <div class="py-[30px] px-0 border-t border-gray-800 dark:border-gray-700">
        <div class="container text-center">
            <div class="grid md:grid-cols-2 items-center gap-6">
                <div class="ltr:md:text-left rtl:md:text-right text-center">
                    <p class="mb-0 text-gray-300">© <script>document.write(new Date().getFullYear())</script> Boq3a <i class="mdi mdi-heart text-red-600"></i></p>
                </div>

                <ul class="list-none ltr:md:text-right rtl:md:text-left text-center">
                    <li class="inline"><a href="" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="linkedin" class="h-4 w-4"></i></a></li>
                    <li class="inline"><a href="" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="facebook" class="h-4 w-4"></i></a></li>
                    <li class="inline"><a href="" target="_blank" class="btn btn-icon btn-sm text-gray-400 hover:text-white border border-gray-800 dark:border-gray-700 rounded-md hover:border-green-600 dark:hover:border-green-600 hover:bg-green-600 dark:hover:bg-green-600"><i data-feather="instagram" class="h-4 w-4"></i></a></li>
                </ul><!--end icon-->
            </div><!--end grid-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- End Footer -->